body
{
	background-image:url("liste-background.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: right top;
	margin:0;
}

h1
{
	color:white;
	text-align:center;
	font-size:40px;
}

h2
{
	color:white;
	margin:auto;
	text-align:center;
	padding-top:2%;
	font-size:35px;
	padding-bottom:2%;
}

h3
{
	color:white;
	text-align:center;
	font-size:25px;
}

nav
{
	margin-bottom:8em;
}

nav ul 
{
	background-color:transparent;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;

}
nav li
{
	display:inline-block;
	position:relative;
}

nav li a
{
	font-size:20px;
	font-weight:bold;
	color:white;
	display:block;
	text-decoration:none;
	padding:10px;
	width:150px;
}

nav ul li ul
{
	display:none;
}

nav ul li:hover ul 
{
	display:block;

}

nav li ul
{
	position:absolute;
}

#description
{
	text-align:center;
	color:white;
	font-size:21px;
	margin-bottom:5em;
}

.description
{
	width:60%;
	margin:auto;
}

.scale-effect
{
	transition:transform 0.5s;
}
	
.scale-effect:hover
{
	transform:scale(1.1);
	text-decoration:underline;
	color:black;
	background-color:GhostWhite;
}

.video-historique
{
	width:60%;
	margin:auto;
	padding-bottom:3em;
}