*

h1
{
	color:white;
	text-align:center;
	font-size:40px;
}

nav
{
	/*margin-bottom:6em; */
}

nav ul 
{
	background-color:transparent;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;

}
nav li
{
	display:inline-block;
	position:relative;
}

nav li a
{
	font-weight:bold;
	font-size:20px;
	color:white;
	display:block;
	text-decoration:none;
	padding:10px;
	width:150px;
}

nav ul li ul
{
	display:none;
}

nav ul li:hover ul 
{
	display:block;

}

nav li ul
{
	position:absolute;
}

body
{
	background-image:url("liste-background.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: right top;
	margin:0;
}

.scale-effect
{
	transition:transform 0.5s;
}
	
.scale-effect:hover
{
	transform:scale(1.1);
	text-decoration:underline;
	color:black;
	background-color:GhostWhite;
}

