h1
{
	color:white;
	text-align:center;
	font-size:40px;
}
h2
{
	color:white;
	margin:auto;
	text-align:center;
	padding-top:2%;
	font-size:30px;
	padding-bottom:2%;
}
h3
{
	color:white;
	margin:auto;
	text-align:center;
	padding-top:2%;
	font-size:30px;
	padding-bottom:2%;
}
h4
{
	color:white;
	margin:auto;
	text-align:center;
	padding-top:2%;
	font-size:30px;
	padding-bottom:2%;
}

nav
{
	margin-bottom:8em;
}

nav ul 
{
	background-color:transparent;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;

}
nav li
{
	display:inline-block;
	position:relative;
}

nav li a
{
	font-size:20px;
	font-weight:bold;
	color:white;
	display:block;
	text-decoration:none;
	padding:10px;
	width:150px;
}

nav ul li ul
{
	display:none;
}

nav ul li:hover ul 
{
	display:block;

}

nav li ul
{
	position:absolute;
}

p
{
	color:black;
	text-align:center;
	font-size:20px;
}

.articles
{
	text-align:center;
	display:block;
	border: solid white 5px;
	margin:3%;
}

#article
{
	width:800px;
	position:relative;
	margin:auto;
}

.image
{
	width:100%;
}

body
{
	background-image:url("liste-background.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: right top;
	margin:0;
}

div
{
	background-color:white;
}

.scale-effect
{
	transition:transform 0.5s;
}
	
.scale-effect:hover
{
	transform:scale(1.1);
	text-decoration:underline;
	color:black;
	background-color:GhostWhite;
}